
@{
    ViewBag.Title = "Register";
}

<h2>Welcome to the Bean Team, @ViewBag.FirstName!</h2>
<h4>Here's the profile information you added:</h4>
<h3>@ViewBag.FirstName @ViewBag.LastName</h3>
    Email: @ViewBag.Email<br />
        Number: @ViewBag.Number<br />
            Password: @ViewBag.Password<br />








